
body{
background: url("https://images7.alphacoders.com/368/368873.jpg") no-repeat center center;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

span{
    color: #000;
}

a{
    color: #310594;
}


canvas{
 background: black;
 border: 5px solid #64DD17;
 border-radius: 10px;


/* Disables mouse click */ 
pointer-events: none; 
}

/* Blur on
#gameCanvas{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px); 
    filter: blur(5px);
}
*/

/* Input */
#form{
    position: absolute;
    height: 50px;
    left: 45%;
    top: 50%;
    padding-top: 10px;
    /*margin-left: -1.7%;*/
    z-index: 2;
    background: transparent;
    width: 220px;
}

#icon-continue{
    color: #FFF;
}

#nameInput:focus #icon-continue{
    color: #FFF;
}

#error{
    margin-top: 5px;
    color: #64DD17;
    text-align: center;
}

input{
    border: 1px solid #64DD17;
    background: transparent;
    color: #FFF;
    height: 30px;
    text-indent: 5px;
    float: left;
}

button{
    background: #64DD17;
    border: transparent;
    height: 34px;
    cursor: pointer;
    width: 41px;
    float: left;
    opacity: 0.9;
}

button:hover{
    opacity: 1;
}

input:focus, button:focus{
    outline: none;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+  */
    font-size: 15px; 
    /*opacity: 1;  Firefox */
} 

/* Snackbar */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
